<div class="view-container">
    <!--<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>-->
    <mat-card class="table-card mat-elevation-z9">
      <mat-card-header>
        <mat-card-title>Staff List</mat-card-title>
        <mat-card-subtitle>List of Staff</mat-card-subtitle>
  
        <span class="filler"></span>
        <a mat-mini-fab [routerLink]="['/staffDetail-create']" [title]="'Create new staff'"><mat-icon>add</mat-icon></a>
      </mat-card-header>

      <mat-card-content>
        <mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="picture" style="width: 50px">
            <mat-header-cell style="width: 50px"
                             *matHeaderCellDef mat-sort-header>Picture</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <img src="{{ imagePath }}/{{ element.picture }}"
                   class="circle-image"
                   style="width: 40px" />
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="staffName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Staff Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.staffName}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.phone}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="gender">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Gender</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ getGender(element.gender)}}</mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="attendence">
            <mat-header-cell *matHeaderCellDef>Attendences</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" aria-label="Pavilions data" (click)="detailClick(element.staffDetailId, element.staffName)">
                <mat-icon>view_list</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a color="primary" [routerLink]="['/staffDetail-edit', element.staffDetailId]" mat-icon-button><mat-icon>edit</mat-icon></a>
              <button (click)="delete(element)" color="warn" mat-icon-button><mat-icon>delete</mat-icon></button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
          <mat-row *matRowDef="let element; columns: columns"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  
  </mat-card-content>
 </mat-card>
 </div>  
